.text-xl {
  font-size: 20px;
}

.text-lg {
  font-size: 16px;
}

.text-md {
  font-size: 14px;
}

.text-sm {
  font-size: 12px;
}
.text-xs {
  font-size: 8px;
}

.parent {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.parent > div {
  flex: 1;
  align-items: stretch;
  overflow: auto;
}

iframe {
  margin: 0;
  padding: 0;
  //border: double;
  display: block;
}
