// app global css in SCSS form
@import './_utils.scss';

body {
  will-change: auto!important;
}

.disable-hardware-acceleration {
  transform: translate3d(0, 0, 0);
  /* other styles */
}

.disable-hardware-acceleration.disabled {
  transform: none;
  /* other styles */
}
